@import '~bootstrap/scss/_breadcrumb.scss';

.breadcrumb {
  &-items {
    display: flex;
    align-items: center;
    padding: 0 5px;
    font-size: 0.85rem;

    @extend .breadcrumb-items;

    &::after {
      display: flex;
      align-items: center;
      justify-content: center;
      color: map-get($theme-colors, primary);
      content: "keyboard_arrow_right";
      text-transform: none;
      white-space: nowrap;
      word-wrap: normal;
      letter-spacing: normal;
      font-size: 24px;
      font-family: $font-family-icons;
      line-height: 1;
      direction: ltr;

      text-rendering: optimizeLegibility;
      font-feature-settings: 'liga';
    }

    &:last-child::after {
      content: none;
    }
  }

  &-link {
    padding: 5px;
    color: map-get($theme-colors, primary);
  }

  &-icons {
    margin-right: 3px;
    padding: 5px 3px 1px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 4px rgba($gray-300, 1);
    color: map-get($theme-colors, primary);
    font-size: 15px;
  }
}
