$white: #fff !default;
$gray-060: #f1f1f1;
$gray-070: #fafafa;
$gray-080: #f8f8f8;
$gray-090: #f6f6f6;
$gray-100: #f5f5f5;
$gray-110: #f4f4f4;
$gray-120: #f2f2f2;
$gray-130: #e9e9e9;
$gray-140: #e6e6e6;
$gray-150: #e5e5e5;
$gray-170: #e3e3e3;
$gray-180: #e0e0e0;
$gray-190: #ededed;
$gray-200: #ececec;
$gray-210: #ebebeb;
$gray-220: #d9d9d9;
$gray-230: #d4d4d4;
$gray-240: #ccc;
$gray-250: #c4c4c4;
$gray-260: #bebebe;
$gray-270: #bdbdbd;
$gray-280: #adadad;
$gray-300: #a9a9a9;
$gray-320: #a6a6a6;
$gray-350: #979797;
$gray-370: #949494;
$gray-380: #919191;
$gray-400: #8c8c8c;
$gray-410: #8b8b8b;
$gray-420: #8a8a8a;
$gray-440: #848484;
$gray-450: #828282;
$gray-470: #808080;
$gray-500: #7c7c7c;
$gray-550: #757474;
$gray-560: #767676;
$gray-570: #797979;
$gray-580: #6d6d6d;
$gray-600: #666;
$gray-610: #646464;
$gray-620: #636363;
$gray-630: #5e5b5b;
$gray-650: #5c5c5c;
$gray-660: #5a5a5a;
$gray-700: #595959;
$gray-750: #555;
$gray-800: #4f4f4f;
$gray-900: #333;
$gray-950: #262626;
$gray-970: #1f1f1f;

$black: #000 !default;

$blue: #03a9f4 !default;
$indigo: #3f51b5 !default;
$purple: #673ab7 !default;
$pink: #e91e63 !default;
$red: #f44336 !default;
$orange: #ff5722 !default;
$yellow: #ffab00 !default;
$green: #8bc34a !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;